// Created by Anton Winogradov <winogradovaa@gmail.com> on 11/27/13.

@import "../libs/bourbon/app/assets/stylesheets/bourbon"

.a-cost
  padding: 12px 0
  & > .row > .col-md-6
    width: 55%
  & > .row > .col-md-3
    width: 22.5%
  & > .row > .col-md-5
    width: 46.5%
  &:hover
    @include background-image(linear-gradient(#f0f2f5 0%, #ffffff 20%, #ffffff 80%, #f0f2f5 100%))
  .a-cost-about
    .a-cost-icon
      display: inline-block
      vertical-align: top
      min-width: 28px
    .a-cost-description
      display: inline-block
      vertical-align: top
      max-width: 90%
      padding-left: 10px
      .a-cost-title
        font-size: 18px
        font-weight: 500
        padding-top: 2px
      .a-cost-category
        font-size: 13px
        font-weight: 200
        color: lighten($help, 10%)
        padding: 5px 0
  &.indrag
    opacity: .5

  .a-cost-type
    .a-cost-type__from
      display: inline-block
      vertical-align: top
      opacity: .8
    .a-cost-type__summ
      display: inline-block
      vertical-align: top
      font-size: 18px

  .a-cost-date
    font-size: 18px
    font-weight: 200
    text-align: right
    color: lighten($help, 10%)
    padding-right: 5px