// Created by Anton Winogradov <winogradovaa@gmail.com> on 11/26/13.

@import "../libs/bourbon/app/assets/stylesheets/bourbon"

body
  font-size: 15px

.a-header
  position: fixed
  z-index: 150
  height: 185px
  width: 978px
  padding-top: 40px
  background: #fff
  @include box-shadow(0 20px 20px #fff)
  .a-header__style
    border-top: 1px solid #E7E7E7
    padding: 25px 0px
    @include background-image(linear-gradient(to bottom, rgba(237, 238, 243, 1) 0%, rgba(255,255,255,1) 100%))
    @include box-shadow(0px 5px 8px 0px rgba(0, 0, 0, 0.5))
    border-radius: 20px 20px 0 0

.a-wrapper
  width: 980px
  margin: 0 auto 0

.a-page
  z-index: 140
  background: #fff
  min-height: 400px
  padding: 225px 20px 0 20px

.a-workspace
  & > .col-md-8
    padding: 0 15px 0 0
    width: 72%
  & > .col-md-4
    padding: 0 20px 0 15px
    width: 28%

.modal
  .modal-dialog
    padding-top: 200px

.a-group-edit
  padding-left: 20px
  padding-top: 8px

