// Created by Anton Winogradov <winogradovaa@gmail.com> on 11/26/13.

.a-filter
  color: $help
  padding-right: 45px
  .active
    padding: 0 2px 1px 2px
    background: $link
    color: #fff
    font-weight: 200
    &:hover
      text-decoration: none
      cursor: default
