// Created by Anton Winogradov <winogradovaa@gmail.com> on 11/27/13.

.icon
  display: inline-block
  background: url("../images/icons/icons-sprite.png") no-repeat
  width: 28px
  height: 28px
  &.icon-cafe
    background-position: 0 -2px
  &.icon-card
    background-position: -33px -2px
  &.icon-computer
    background-position: -66px 0
  &.icon-eat
    background-position: -99px 0
  &.icon-edit
    background-position: -132px 0
  &.icon-help
    background-position: -165px 0
  &.icon-home
    background-position: -198px 0
  &.icon-mobile
    background-position: -231px 0
  &.icon-transport
    background-position: -264px 0
  &.icon-wallet
    background-position: -297px -2px
  &.icon-wear
    background-position: -330px 0
  &.icon-none
    background: #fff