// Created by Anton Winogradov <winogradovaa@gmail.com> on 11/26/13.

a
  color: $link
  @include transition(color 200ms ease)
  &:hover
    color: lighten($link, 5%)
  span, i
    display: inline-block
    vertical-align: middle
