// Created by Anton Winogradov <winogradovaa@gmail.com> on 11/26/13.

.a-actions
  padding: 0 20px
  .a-actions-list
    padding: 0
    margin: 0
    list-style: none
    .a-actions-list__item
      display: inline-block
      padding-left: 20px
      &:first-child
        padding-left: 0
      i, a, span
        display: inline-block
        vertical-align: middle

.a-main
  .a-main-list
    margin: 0
    padding: 0
    list-style: none
    .a-main-list__item
      border-top: 1px solid #e5e5e5
      &:last-child
        border-bottom: 1px solid #e5e5e5

