// Created by Anton Winogradov <winogradovaa@gmail.com> on 11/27/13.

@import "../libs/bourbon/app/assets/stylesheets/bourbon"

.a-sidebar-container
  position: fixed
  width: 236px
  .a-sidebar
    padding-bottom: 10px
    background: #fff
    @include box-shadow(0px 0px 15px 0px rgba(0, 0, 0, 0.5))
    .a-sidebar__title
      padding: 20px
      color: $help
      font-weight: 200
    .a-sidebar-list-container
      .a-sidebar-list
        list-style: none
        padding: 0
        margin: 0
        height: 330px
        overflow: scroll
        .a-sidebar-list__item
          position: relative
          margin-top: 10px
          border-left: 3px solid #fff
          font-size: 16px
          font-weight: bold
          display: block
          cursor: default
          @include transition(border-left-width 200ms ease)
          &:hover
            border-left-width: 8px
            cursor: pointer
          &.a-sidebar-list__item_type_orange
            border-left-color: $orange
            &:hover a, &.dragover a
              color: $orange
          &.a-sidebar-list__item_type_swamp
            border-left-color: $swamp
            &:hover a, &.dragover a
              color: $swamp
          &.a-sidebar-list__item_type_purple
            border-left-color: $purple
            &:hover a, &.dragover a
              color: $purple
          &.a-sidebar-list__item_type_green
            border-left-color: $green
            &:hover a, &.dragover a
              color: $green
          &.a-sidebar-list__item_type_blue
            border-left-color: $blue
            &:hover a, &.dragover a
              color: $blue
          &.a-sidebar-list__item_type_red
            border-left-color: $red
            &:hover a, &.dragover a
              color: $red
          &.a-sidebar-list__item_type_gray
            border-left-color: $gray
            &:hover a, &.dragover a
              color: $gray
          &.a-sidebar-list__item_type_yellow
            border-left-color: $yellow
            &:hover a, &.dragover a
              color: $yellow
          &.a-sidebar-list__item_type_brown
            border-left-color: $brown
            &:hover a, &.dragover a
              color: $brown
          &.a-sidebar-list__item_type_graphite
            border-left-color: $graphite
            &:hover a, &.dragover a
              color: $graphite
          &.dragover
            border-left-width: 30px
          .counter
            position: absolute
            top: 0
            left: -27px
            background: transparent
            color: #fff
            padding: 4px
            font-size: 20px
          a
            display: inline-block
            width: 100%
            padding: 5px 0px 5px 8px
            color: #333333
            &:hover
              text-decoration: none
            span
              padding-left: 5px

