// Created by Anton Winogradov <winogradovaa@gmail.com> on 11/26/13.

h1, h2, h3
  margin-bottom: 0px

.a-title
  background: #fff
  padding: 0px 25px
  margin-bottom: 20px
  .a-title__text
    margin: 0